<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	

	<!-- 配置数据源 -->
	<bean id="dataSource" 
		class="com.alibaba.druid.pool.DruidDataSource" 
		destroy-method="close">
		
		<!-- 基础属性的配置 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://47.100.175.30:3306/blog?characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="hejie1996" />
		
		<!-- 最大连接数 -->
		<property name="maxActive" value="10" />
		<!-- 初始化连接数 -->
		<property name="initialSize" value="5" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="2" />
		<!-- 最大空闲连接数 -->
		<property name="maxIdle" value="5" />
		<!-- 获取连接超时时间 -->
		<property name="maxWait" value="6000" />
		
	</bean>
	<!-- 配置sqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 设置数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		
		<!-- 加载mybatis核心配置文件 -->
		<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
		<!-- 自动扫描mapping.xml文件 -->
        <property name="mapperLocations" value="classpath:top/hjie/mapper/*.xml"></property>
	</bean>
	
	<!-- 配置mapper自动扫描 -->
	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置要扫描的包，说明：
		 1.如果有多个包，以半角逗号进行分割：","-->
		<property name="basePackage" value="top.hjie.mapper"></property>
	</bean>
	
</beans>